*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
    Helvetica,Arial,sans-serif;
    line-height: 18px;
}
body{
    display: flex;
    width: 100%;
    min-width: 10%;
    background-color: #000000;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}
.instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.celular {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 580px;
}
.celularIMG{
    padding-bottom: 30px;
    display: flex;
    margin: 0;
    width: 48rem;
}

.caixas{
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    display: flex;
    min-height: 100%;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    margin-left: 35px;
    
}
.caixa1{
    color: white;
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(36, 36, 36);
}
.caixa2{
    background-color: rgb(24, 24, 24);
    margin-top: 12px;
    align-content: center;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    border: 1px solid rgb(36, 36, 36);
}
.logoInsta{
    display: flex;
    width: 55%;
    margin-bottom: 30px;
    margin-top: 36px;
}
.form1 {
    width: 100%;
    align-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.email{
    color: #8e8e8e;;
    height: 36px;
    margin: 0 40px 5px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.senha{
    color: #8e8e8e;;
    height: 36px;
    margin: 0 40px 5px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.entrar{
    color: white;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
    display: flex;
    border: 1px solid transparent;
    background-color: #0095f6;;
}
.ou{
    margin-top: 8px;
    margin-bottom: 20px;
}
.ulFace{
    list-style-type: none;
}
.entrarFace{
    list-style-;    color: #385185;
    font-size: 14px;
    font-weight: 600;
}
.senhaReset{
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-top: 16px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.notUser{
    margin-right: 8px;
    color: white;
    border: 0;
}
.cadastrar{
    font-size: 14px;
    line-height: 18px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
    color: #0095f6;
}
.baixar{
    font-size: 14px;
    margin-top: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}
.getApp{
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.appstore{
    display: flex;
    height: 40px;
}
.googleplay{
    display: flex;
    height: 40px;
}
.final{ 
    margin-top: 20px;
    align-content: center;
    width: 50%; 
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.end{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.atalhos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 6px;
}
.atalhos2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 52%;
}
.linguagem{
    display: flex;
    color: #8e8e8e;
    border: 0;
}
.copy{
    border: 1px solid white;
}
.ultimo{
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60%;
    display: flex;
}
a{
    color: #8e8e8e;
}

@media (max-width: 1100px){
    .instagram{
        width: 90%;
    }
}
@media (max-width: 750px){
    .instagram {
        width: 90%
    }
    .celular{
        display: none;
    }
    .caixas {
        width: 100%;
    }
    .end {
        font-size: 10px
    }
    .atalhos{
    flex-wrap: wrap;
    }
    .final{
        width: 100%;
    }
    .atalhos2{
        width: 100%;
        flex-wrap: wrap;
        }
        .ultimo{
            margin-top: 10px;
        }
}